<%= form_for @question, url: question_path(@question),:html => {:class => "form-horizontal"}   do | question | %>
 <%= render "form", :question => question %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= question.submit "Edit question", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
               