<table class="table table-hover">
  <thead>
    <tr>
      <th>Quiz name</th>
      <th>Created by</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz.each do | quiz | %>
    <tr>
      <td><%= quiz.quiz_name%></td>
      <td><%= quiz.quiz_name%></td>
      <td><%= link_to "Show", quiz_path(quiz.id)%></td>
    </tr>
    <% end %>
  </tbody>
</table>