<table class="table table-hover">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz.each do | quiz | %>
    <tr>
      <td><%= quiz.question%></td>
      <td><%= quiz.answer%></td>
    </tr>
    <% end %>
  </tbody>
</table>