<table class="table table-hover">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Link to</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz.each do | quiz | %>
    <tr>
      <td><%= quiz.question.html_safe %></td>
      <td><%= quiz.answer %></td>
      <td><%= link_to "Question", question_path(quiz) %></td>
    </tr>
    <% end %>
  </tbody>
</table>